{% extends "/tema/tema.html.twig" %}
{% block title %}
Clientes
{% endblock %}

{% block subtitle %}
Lista de todos los Clientes
{% endblock %}


{% block content %}
<p> A continuación mostraremos todos los Productos</p>
{% endblock %}